
.fab{
    width: 60px;
    height: 60px;
    background: #d23f31;
}

.fab-options{
    z-index: 999;

    list-style-type: none;
    margin: 0;

    position: absolute;
    bottom: 70px;
    left: 0;

    opacity: 0;

    transition: all 0.3s ease;
    transition: scale(0);
    transform-origin: 85% bottom;
}

.other_options__check:checked + .other_options__label + .fab-options, 
.other_options__check:checked + .other_options__label + .fab-options:hover{
    opacity: 1;
    transform: scale(1);
}


.fab-options li{
    display: flex;
    padding: 5px;
}

.fab-options li > .fab-label{
    opacity: 0;
}

.fab-options li > .fab-icon-holder{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-options li > .fab-icon-holder > img{
    height: 40px;
    width: 40px;
}

.fab-options li > .fab-icon-holder:hover + .fab-label{
    opacity: 1;
}

.fab-label{
    padding: 2px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    background: #666666;
    color: #ffffff;
    box-shadow: 0 6px 20px rgb(0, 0, 0, 0.2);
    margin-right: 10px;
}